.title {
  text-align: center;
  background-color: #902ce4;
  color: white;
}

.info {
  background-color: lightgrey;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

body {
  background-image: url(record.png);
}
